<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>

]>
<root id="-1">
  <site id="1052" key="53248eb2-65ba-40db-a794-35b0b6840b1b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-27T20:57:26" updateDate="2016-02-27T20:57:26" nodeName="EveTest" urlName="evetest" path="-1,1052" isDoc="" nodeType="1051" creatorName="Tómas Aron Jónsson" writerName="Tómas Aron Jónsson" writerID="0" template="1050" nodeTypeAlias="site">
    <contentPage id="1056" key="8b7e0223-bc25-4309-b3f8-4cea57154810" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-02-27T21:15:02" updateDate="2016-02-27T21:15:02" nodeName="Sites" urlName="sites" path="-1,1052,1056" isDoc="" nodeType="1055" creatorName="Tómas Aron Jónsson" writerName="Tómas Aron Jónsson" writerID="0" template="1054" nodeTypeAlias="contentPage" />
  </site>
</root>