<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT map ANY>
<!ATTLIST map id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT siteRun ANY>
<!ATTLIST siteRun id ID #REQUIRED>

]>
<root id="-1">
  <site id="1052" key="53248eb2-65ba-40db-a794-35b0b6840b1b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-27T20:57:26" updateDate="2016-02-27T20:57:26" nodeName="EveTest" urlName="evetest" path="-1,1052" isDoc="" nodeType="1051" creatorName="Tómas Aron Jónsson" writerName="Tómas Aron Jónsson" writerID="0" template="1050" nodeTypeAlias="site">
    <map id="1063" key="995b6429-07fd-43d6-a020-15c1151bb91a" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-02-29T18:21:03" updateDate="2016-02-29T18:21:03" nodeName="Kortið" urlName="kortið" path="-1,1052,1063" isDoc="" nodeType="1062" creatorName="Tómas Aron Jónsson" writerName="Tómas Aron Jónsson" writerID="0" template="1061" nodeTypeAlias="map" />
  </site>
</root>